<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Django carregando arquivos estáticos -->
    {% load static %}

    <!-- Link correto para o CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
    <title>Tela de Cadastro</title>
</head>
<body>
    <!-- Conteúdo do formulário -->
    <div class="container">
        <img src="{% static 'images/icon.webp' %}" alt="Ícone Fazenda" class="my-4">
        <div class="cadastro">
            <form action="{% url 'listagem_usuarios' %}" method="post">
                {% csrf_token %}
                <h2>CADASTRO</h2>
                <div class="box-user">
                    <input type="text" name="nome" required>
                    <label>Usuário</label>
                </div>
                <div class="box-user">
                    <input type="password" name="senha" required>
                    <label>Senha</label>
                </div>
                <div class="box-user">
                    <input type="email" name="email" required>
                    <label>Email</label>
                </div>
                <div class="box-user">
                    <input type="text" name="telefone" required>
                    <label>Telefone</label>
                </div>
                <button type="submit" class="btn-custom">Cadastrar-se</button>
            </form>
        </div>
    </div>
</body>
</html>